scipy==0.19.1
numpy==1.8.2
matplotlib==2.2.5

## for ode environments
pyode==1.2.1

## for ode environemnts (for viewing)
pyopengl==3.1.5
pillow==6.2.2

## does not have ode envoronment model files (will be installed from repo)
# pybrain
